@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Zen+Kaku+Gothic+Antique:wght@300;500;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Parisienne&family=Roboto:wght@100;300;400;500;700;900&family=Zen+Kaku+Gothic+Antique:wght@300;500;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --orange: #ff5e00;
}

a {
  color: inherit;
}

body {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(3, 0, 0, 0.411);
  border-radius: 6px;
}

.button {
  padding: 0.5rem 2rem;
  background-color: #ff5e00;
  color: white;
  border-radius: 15px;
  cursor: pointer;
}
